.nav {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    /* width: 100%; */
    border-bottom: 1px solid rgba(161,161,161,0.5);
    /* background: greenyellow; */
    z-index: 9;
}
.nav .links {
    display: flex;
    justify-content: flex-end;
    list-style: none;

}
.nav .links a {
    position: relative;
    display: block;
    height: 100px;
    color: #FFFFFF;
    padding: 0 20px;
    text-decoration: none;
    font: 16px 'Montserrat', sans-serif;
    line-height: 100px;
    
}
/* .nav .links a::befor */
.nav .links a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #FFFFFF;
    opacity: 0;
    transform: .3s;

}
.nav .links a:hover::after {
    opacity: 1;
}