
.home {
    display: flex;
    align-items: center;
    background: url('../photo/Rectangle.png')no-repeat center;
    min-height: 100vh;
    background-size: cover;

}
.home__inner {
    width: 100%;
    padding: 110px 0;
}
.home__content{
    width: 830px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
.home__content .caption {
    margin-bottom: 20px;
    
}
.home__content .title {
    margin-bottom: 40px;
    
}
.home__content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;

}


