
.home {
    display: flex;
    align-items: center;
    background: url('../photo/Rectangle.png')no-repeat center;
    min-height: 100vh;
    background-size: cover;
}
.home__inner {
    width: 100%;
    padding: 110px 0;
}
.home__content{
    width: 830px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
.home__content .caption {
    margin-bottom: 20px;
    
}
.home__content .title {
    margin-bottom: 40px;
    
}
.home__content h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
}
.parent {
    width: 1113px;
    margin: 0 auto;
    text-align: center;
}
.parent_content {
    display: inline-block;
    padding: 70px;
}

.text__list h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
    color: #323232;
}
.text__list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #999999;
    padding: 50px;
}
.text__list2 {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
}
.list__items {
    display: flex;
    
}
.items h3 {
    width: 226px;
    height: 23px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 30px;
}
.items p {
    width: 222px;
    height: 58px;
    font: 14px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 22px;
    padding: 18px;
    color: #999999;
}
.table2 {
    padding: 75px;
}

.oldest {
    display: flex;
    /* height: 627px; */
    align-items: center;
    background-color: #F6F6F8;
   
}
.oldest_parent {
    width: 1110px;
    border-bottom: 1px solid red;
}
.oldest_child{
    margin-top: 100px;
    border-bottom: 1px solid #e0e0e0;
}
.oldest1 {
    display: flex;
    width: 500px;
    height: 490px;
    display: flex;
    align-items: center;
   
}

.oldest_list{
    width: 489px;
    height: 295px;
    margin-bottom: 53px;
}
.lists_h2 h2 {
    width: 424px;
    height: 88px;
    font: 36px 'Montserrsat', sans-serif;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 40px;
    color: #323232;
}
.lists_p p {
    width: 489px;
    height: 117px;
    font: 16px 'Montserrsat', sans-serif;
    font-weight: 400;
    line-height: 25.36px;
    margin-bottom: 30px;
    color: #999999;
}
.lists_a a {
    width: 202px;
    height: 20px;
    font: 16px 'Montserrsat', sans-serif;
    font-weight: 500;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 143px;
    color: #4985FF;
}
.oldest_img {
    width: 500px;
    height: 400px;
    margin-left: 121px;
    border-radius: 30px;
    margin-bottom: 90px;
}

.oldest2 {
display: flex;
}

.big_kv {
 display: flex;
 

}

.mini_kv {
    display: inline-block;
    width: 104px;
    height: 64px;
    padding: 70px 100px;
    margin-bottom: 70px;
}
.mini_kv .img_num {
    display: flex;
    margin-bottom: 17px;
   
}

.img_num  .imgs {

    width: 30px;
    height: 26.47px;
}

.img_num  .number {
        width: 54px;
        height: 35px;
        font: 36px 'Montrerrat', sans-serif;
        font-weight: 400;
        padding-left: 20px;
        color: #000000;
}
.mini_kv .our {
    width: 100px;
    height: 15px;
    text-align: center;
    font: 16px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 25px;
    color: #999999;
}
.section {
    width: 100%;
    height: 490px;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
    position: absolute;
}

.all_services {
    display: flex;
    align-items: center;
    max-width: 1110px;
    margin: 100px auto 85px;
    position: relative;

}

.service_list_1  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 70px;
}
.service_list_1 h2 {
    width: 540px;
    height: 88px;
    font: 36px 'Montserrat', sans-rerif;
    font-weight: 700;
    line-height: 53px;
    color: #fff;
    max-width: 540px;
}
.service_list_1 a {
   text-align: center;
}

.service_list_2 {
    display: flex;
    border-bottom: 1px solid #E0E0E0;

}
.service_list {
    /* width: 350px;
    height: 544px;
    margin-right: 30px;
    border-bottom: 1px solid #E0E0E0; */
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 85px;
}
.service_list:last-child {
    margin-right: 0;
}
.service_list .img_ser {
    /* width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px; */
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.service_list .content_ser {
   /* position: relative; 
   width: 281px;
   height: 17px;
   font: 18px 'Montserrat', sans-serif;
   font-weight: 600;
   line-height: 21.94px;
   margin-bottom: 30px; */
   font-size: 18px;
   font-weight: 600;
   line-height: 21.94px;
   margin-bottom: 30px;
}
.content_ser e {
    color: #4985FF;
    font-size: 18px;
}

.service_list .text_ser {
   /* width: 350px;
   height: 117px;
   font: 16px 'Montserrat', sans-serif;
   font-weight: 400;
   line-height: 25.36px;
   color: #999999;
   margin-bottom: 30px; */
   font-size: 16px;
   line-height: 25px;
   color: #999999;
   max-width: 350px;
   max-height: 117px;
   margin-bottom: 30px;
}
.service_list .a_ser {
   /* width: 97px;
   height: 20px;
   font: 16px 'Montserrat', sans-serif;
   font-weight: 50;
   line-height: 20px;
   color: #0937df; */
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #4985FF;
}
.project {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F6F6F8;   
}

.project__inner {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 130px;
}
.project_items {
    margin: 0 auto;
}
.project_lists {
    margin-top: 100px;
}
.project_lists h2 {
    width: 350px;
    height: 35px;
    font: 36px 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 53px;
    margin: auto;
    margin-bottom: 50px;
    color: #000000;
}
.project_lists p {
    width: 730px;
    height: 41px;
    font: 16px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 25.36px;
    margin: auto;
    margin-bottom: 70px;
    color: #999999;
}

.project_lists_2 {
    width: 1140px;
    margin-bottom: 130px;
}
.project_lists_2 .proj_img {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*video*/

.video {
    display: flex;
    align-items: center;
    background: url('../photo/video_fon.png')no-repeat center;
    height: 570px;
    background-size: cover;
    position: relative;
    
} 
.video_header {
   margin: auto;
   text-align: center;
  
}
.video_item h2 {
    height: 35px;
    font: 36px 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 30px;
    color: #FFFFFF;
}
.video_item .p {
    height: 15px;
    font: 16px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 70px;
    color: #FFFFFF;
}

.video_img-2 {
    position: absolute;
    background: url(..//photo/city.png) no-repeat, center;
    width: 970px;
    height: 430px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25) ; 
    border-bottom: 10px solid red;
}


.img_1 {
    display: flex;
    margin: auto;
    width: 300px;
    height: 100px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    align-items: center;
    border-radius: 200px;
    margin-top: 165px;
    background: rgba(129, 124, 124, 0.25);
    
}
.img_1 .icon-play {
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    margin-left: 40px;
}

.img_1 button {
    width: 150px;
    height: 19px;
   font: 16px 'Montserrat', sans-serif;
   font-weight: 500;
   line-height: 25px;
   margin-left: 21px;
   color: #FFFFFF;
   border: none;
   background: rgba(129, 124, 124, 0.25);
} 